/node_modules
/public/hot
/public/storage
/public/build
/public/uploads
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
/vendor
/.idea
/.vscode
/.vagrant
.env
.env.backup
.env.production
.phpunit.result.cache
.phpstorm.meta.php
package-lock.json
yarn.lock
*.sql
*.log
*.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.phpunit.cache
_ide_helper.php
.DS_Store
Thumbs.db
pbspostgr-202502122312.sql
dataflow.txt
composer.lock